# Postgres
POSTGRES_USER=supportdesk
POSTGRES_PASSWORD=supportdesk
POSTGRES_DB=supportdesk
POSTGRES_PORT=5432

# API
API_PORT=3333
DATABASE_URL=postgresql://supportdesk:supportdesk@localhost:5432/supportdesk?schema=public
JWT_SECRET=change-me-in-production-please
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:3333
